@font-face {
    font-family: 'arialnarrow';
    src: url('../fonts/arialnarrow/arialnarrow.eot');
    src: url('../fonts/arialnarrow/arialnarrow.eot') format('embedded-opentype'),
         url('../fonts/arialnarrow/arialnarrow.woff2') format('woff2'),
         url('../fonts/arialnarrow/arialnarrow.woff') format('woff'),
         url('../fonts/arialnarrow/arialnarrow.ttf') format('truetype'),
         url('../fonts/arialnarrow/arialnarrow.svg#arialnarrow') format('svg');
}
@font-face {
    font-family: 'arialnarrowbold';
    src: url('../fonts/arialnarrowbold/arialnarrowbold.eot');
    src: url('../fonts/arialnarrowbold/arialnarrowbold.eot') format('embedded-opentype'),
         url('../fonts/arialnarrowbold/arialnarrowbold.woff2') format('woff2'),
         url('../fonts/arialnarrowbold/arialnarrowbold.woff') format('woff'),
         url('../fonts/arialnarrowbold/arialnarrowbold.ttf') format('truetype'),
         url('../fonts/arialnarrowbold/arialnarrowbold.svg#arialnarrowbold') format('svg');
}
@font-face {
    font-family: 'arialnarrowitalic';
    src: url('../fonts/arialnarrowitalic/arialnarrowitalic.eot');
    src: url('../fonts/arialnarrowitalic/arialnarrowitalic.eot') format('embedded-opentype'),
         url('../fonts/arialnarrowitalic/arialnarrowitalic.woff2') format('woff2'),
         url('../fonts/arialnarrowitalic/arialnarrowitalic.woff') format('woff'),
         url('../fonts/arialnarrowitalic/arialnarrowitalic.ttf') format('truetype'),
         url('../fonts/arialnarrowitalic/arialnarrowitalic.svg#arialnarrowitalic') format('svg');
}